.header {
  font-size: 48px;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: #010101;
}
.section {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: last baseline;
  font-size: 24px;
  color: white;
}

.section-white {
  background-color: #d3d3d3;
}

.section-medium-grey {
  background-color: #a9a9a9;
}

.section-dark-grey {
  background-color: #696969;
}

.github-button {
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.github-button:hover {
  background-color: #555;
}
